

.header{
    color: #e2e2e2;
    display: flex;
    flex-direction: column;
    background: url("/IMG/31.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: space-between;
    box-shadow: inset 0px -25px 19px -17px #151515;

}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, .4);
    padding: .4rem;
    text-shadow: 2px 2px 2px #000;
    transition: .2s;
}

.header_logo{
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

.header_nav-links{
    font-size: 1.2rem;
    padding-right: 1rem;
    text-shadow: 2px 2px 2px #000;
}

.nav_links{
    padding-left: 2rem;
    text-shadow: 2px 2px 2px #000;
}

.nav_links:hover{
    font-weight: bold;
}


.header_titulos{
    padding: 1rem;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #000;
    padding: 1rem;
}

.header_titulos h1{
    padding-bottom: 1.2rem;
}

.miNombre{
    color: #e2e2e2;
    font-weight: bold;
    background: none;
}

.header_nav-redes{
    width: 11.3rem;
    display: flex;
    padding: .3rem 0 2px .5rem;
    background: #847348;
    border-top-right-radius: 5px;

}

.header_redes{
    margin-right: 1rem;
}

.header_redes_img{
    width: 1.9rem;
}


@media (max-width:599px) {
    .header_nav-links{
        display: none;
    }

    .header_titulos{
        text-align: center;
    }

    .header_nav{
        justify-content: center;
    }
    .header_nav-redes{
    width: 11rem;
    padding: .3rem 0 2px .5rem;
    justify-content: space-between;
    }

    .header_redes_img{
        width: 1.8rem;
    }
}